<h1>管理者のトップページだよ</h1>
<nav>
  <ul>
    <li><%= link_to "管理ユーザーの追加", "#", class: "aaa" %></li>
    <li><%= link_to "会員の一覧", "#", class: "aaa" %></li>
    <li><%= link_to "アーティストの登録", "#", class: "aaa" %></li>
    <li><%= link_to "商品の登録", "#", class: "aaa" %></li>
    <li><%= link_to "商品の一覧", "#", class: "aaa" %></li>
    <li><%= link_to "購入履歴", "#", class: "aaa" %></li>
  </ul>
</nav>
