<h1>購入確定画面（一つだけの画面）</h1>

put aaaa
<%= @cart.product.title %>
<%= @cart.sheet_number %>
<%= @cart.product.price %> 円

合計<%= @cart.product.price * @cart.sheet_number%>円

<%= form_for (@purchase) do |f| %>
<%= f.select :destination_id, @destinations_array %>
<% end %>