<h1>Userの詳細、編集ページだよ</h1>

<%= form_for(@users) do |f| %>

  <div class="field">
    <label for="user_name_family_name">name_family_name</label>
    <br>
    <%= f.text_field :name_family_name, class: "name_family_name" %>
  </div>
  <div class="field">
    <label for="user_name_name">name_name</label>
    <br>
    <%= f.text_field :name_name, class: "name_name" %>
  </div>
  <div class="field">
    <label for="user_furigana_family_name">furigana_family_name</label>
    <br>
    <%= f.text_field :furigana_family_name, class: "furigana_family_name" %>
  </div>
  <div class="field">
    <label for="user_furigana_name">furigana_name</label>
    <br>
    <%= f.text_field :furigana_name, class: "furigana_name" %>
  </div>
  <div class="field">
    <label for="postal_code">postal_code</label>
    <br>
    <%= f.text_field :postal_code, class: "postal_code" %>
  </div>
  <div class="address">
    <label for="address">address</label>
    <br>
    <%= f.text_field :address, class: "address" %>
  </div>
  <div class="field">
    <label for="phone_number">phone_number</label>
    <br>
    <%= f.text_field :phone_number, class: "phone_number" %>
  </div>
  <div class="field">
    <label for="email">email</label>
    <br>
    <%= f.text_field :email, class: "email" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
