<h1>Userのインデックスだよ</h1>

<% @users.each do |user| %>
  <ul>
    <li><%= user.email %></li>
    <li><%= user.encrypted_password  %></li>
    <li><%= user.name_family_name %></li>
    <li><%= user.name_name %></li>
    <li><%= user.furigana_family_name %></li>
    <li><%= user.furigana_name %></li>
    <li><%= user.postal_code %></li>
    <li><%= user.address %></li>
    <li><%= user.phone_number %></li>
  </ul>
<% end %>
