<h2>買い物かご</h2>


<% @cart.each do |cart| %>
<%= cart.product.title %>
<%= cart.sheet_number %>
<%= cart.product.price %> 円





<%= link_to 'この商品を購入',purchase_single_path(cart.id)%>

<%= link_to'カートから出す',cart_path(cart.id), method: :delete, "data-confirm" => "本当にカートから出しますか？" %>


<% end %>



<%= link_to "お買い物を続ける", products_path %>
お問い合わせ
