<h1>商品登録ページ</h1>

<%= form_for(@product) do |f| %>

<%= f.label "商品タイトル" %><br>
<%= f.text_field :title %><br>

<%= f.label "レーベル名" %><br>
<%= f.select :label_id, Label.all.map {|o| [o.name, o.id]} %><br>

<%= f.label "商品画像" %>
<%= attachment_field :image %>

<%= f.label "リリース日" %><br>
<%= f.text_field :release_date %><br>

<%= f.label "枚数" %>
<%= f.text_field :stock_count %><br>

<%= f.submit %>

<% end %>
