<h1>商品詳細ページ</h1>

<%= attachment_image_tag @product, :image, :fill, 100, 100, format: 'jpeg' %>
<%= @product.title %>
<%= @product.price %>
<%= @product.stock_count %>

<%= form_for (@cart),url: sss_path(product_id: @product) do |f| %>
<%= f.label :sheet_number %>
<%= f.number_field :sheet_number %>

<button class="btn btn-default">
  <%= f.submit %>
 </button>
<% end %>

<% @product.discs.each do |disc| %>
<p>ディスク</p>
<%= disc.id %>

<% disc.tunes.each do |tune| %>
<p>曲名</p>
<%= tune.title %>
<p>アーティスト名</p>
<%= tune.artist.name %>

<% end %>
<% end %>






